<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>Productivity</string>
		<string>Fun</string>
		<string>Books</string>
		<string>Design</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>Books</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>544678903.067711</real>
				<key>lastModification</key>
				<real>544678903.067711</real>
				<key>version</key>
				<dict>
					<key>D44ADD80-646F-43D5-8011-4342E2EE8234</key>
					<integer>3</integer>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>Design</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>544678903.06112301</real>
				<key>lastModification</key>
				<real>544678903.06112301</real>
				<key>version</key>
				<dict>
					<key>D44ADD80-646F-43D5-8011-4342E2EE8234</key>
					<integer>3</integer>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>Fun</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>544674751.57866895</real>
				<key>lastModification</key>
				<real>544674751.57866895</real>
				<key>version</key>
				<dict>
					<key>D44ADD80-646F-43D5-8011-4342E2EE8234</key>
					<integer>3</integer>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>Productivity</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>544674751.66411996</real>
				<key>lastModification</key>
				<real>544674751.66411996</real>
				<key>version</key>
				<dict>
					<key>D44ADD80-646F-43D5-8011-4342E2EE8234</key>
					<integer>3</integer>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>17</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>Articles Recommended by Leo.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>544674030.29390299</real>
				<key>lastModification</key>
				<real>544674030.29390299</real>
				<key>version</key>
				<dict>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>60</integer>
				</dict>
			</dict>
			<key>Articles by Leo.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>544674030.17769802</real>
				<key>lastModification</key>
				<real>544674030.17769802</real>
				<key>version</key>
				<dict>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>56</integer>
				</dict>
			</dict>
			<key>BOOKS.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>544581247.32778394</real>
				<key>lastModification</key>
				<real>544581247.32778394</real>
				<key>version</key>
				<dict>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>Books - 2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>544674059.32012999</real>
				<key>lastModification</key>
				<real>544674059.32012999</real>
				<key>version</key>
				<dict>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>64</integer>
				</dict>
			</dict>
			<key>Fun.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>544673000.44058001</real>
				<key>lastModification</key>
				<real>544673000.44058001</real>
				<key>version</key>
				<dict>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>52</integer>
				</dict>
			</dict>
			<key>Organization.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>544674030.29081595</real>
				<key>lastModification</key>
				<real>544674030.29081595</real>
				<key>version</key>
				<dict>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>58</integer>
				</dict>
			</dict>
			<key>Physical Tools.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>544674030.50822401</real>
				<key>lastModification</key>
				<real>544674030.50822401</real>
				<key>version</key>
				<dict>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>61</integer>
				</dict>
			</dict>
			<key>Podcasts.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>544674030.292485</real>
				<key>lastModification</key>
				<real>544674030.292485</real>
				<key>version</key>
				<dict>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>59</integer>
				</dict>
			</dict>
			<key>Productivity - 2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>544674022.08845198</real>
				<key>lastModification</key>
				<real>544674022.08845198</real>
				<key>version</key>
				<dict>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>55</integer>
				</dict>
			</dict>
			<key>README.md</key>
			<dict>
				<key>lastModification</key>
				<real>544672635.48392904</real>
				<key>version</key>
				<dict>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>50</integer>
				</dict>
			</dict>
			<key>SUMMARY.md</key>
			<dict>
				<key>lastModification</key>
				<real>544672635.48373497</real>
				<key>version</key>
				<dict>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>49</integer>
				</dict>
			</dict>
			<key>This is a test.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>544580440.37681305</real>
				<key>lastModification</key>
				<real>544580440.37681305</real>
				<key>version</key>
				<dict>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>Travel.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>544755196.567963</real>
				<key>lastModification</key>
				<real>544755196.567963</real>
				<key>version</key>
				<dict>
					<key>D44ADD80-646F-43D5-8011-4342E2EE8234</key>
					<integer>6</integer>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>87</integer>
				</dict>
			</dict>
			<key>User Experience - User Interface - General Design.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>544674011.13852894</real>
				<key>lastModification</key>
				<real>544674011.13852894</real>
				<key>version</key>
				<dict>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>53</integer>
				</dict>
			</dict>
			<key>Websites.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>544674030.76515698</real>
				<key>lastModification</key>
				<real>544674030.76515698</real>
				<key>version</key>
				<dict>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>63</integer>
				</dict>
			</dict>
			<key>books.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>544672981.48843205</real>
				<key>lastModification</key>
				<real>544672981.48843205</real>
				<key>version</key>
				<dict>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>51</integer>
				</dict>
			</dict>
			<key>design.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>544582153.81069398</real>
				<key>lastModification</key>
				<real>544582153.81069398</real>
				<key>version</key>
				<dict>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>33</integer>
				</dict>
			</dict>
			<key>finances.md</key>
			<dict>
				<key>lastModification</key>
				<real>544755196.50713003</real>
				<key>version</key>
				<dict>
					<key>D44ADD80-646F-43D5-8011-4342E2EE8234</key>
					<integer>6</integer>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>85</integer>
				</dict>
			</dict>
			<key>games.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>544674742.47340906</real>
				<key>lastModification</key>
				<real>544674742.47340906</real>
				<key>version</key>
				<dict>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>65</integer>
				</dict>
			</dict>
			<key>knowledge-learning-news.md</key>
			<dict>
				<key>lastModification</key>
				<real>544755196.51397097</real>
				<key>version</key>
				<dict>
					<key>D44ADD80-646F-43D5-8011-4342E2EE8234</key>
					<integer>6</integer>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>86</integer>
				</dict>
			</dict>
			<key>page-1.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>544581392.46099496</real>
				<key>lastModification</key>
				<real>544581392.46099496</real>
				<key>version</key>
				<dict>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>28</integer>
				</dict>
			</dict>
			<key>productivity.md</key>
			<dict>
				<key>lastModification</key>
				<real>544725633.50351596</real>
				<key>version</key>
				<dict>
					<key>D44ADD80-646F-43D5-8011-4342E2EE8234</key>
					<integer>6</integer>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>73</integer>
				</dict>
			</dict>
			<key>tv.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>544674742.48225105</real>
				<key>lastModification</key>
				<real>544674742.48225105</real>
				<key>version</key>
				<dict>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>67</integer>
				</dict>
			</dict>
			<key>untitled.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>544674742.48397994</real>
				<key>lastModification</key>
				<real>544674742.48397994</real>
				<key>version</key>
				<dict>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>68</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>This is a test.md</string>
		</array>
		<array>
			<string>SUMMARY.md</string>
		</array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>User Experience - User Interface - General Design.md</string>
		</array>
		<array>
			<string>Books - 2.md</string>
		</array>
		<array>
			<string>Fun.md</string>
		</array>
		<array>
			<string>Productivity - 2.md</string>
		</array>
		<array>
			<string>knowledge-learning-news.md</string>
		</array>
		<array>
			<string>Articles by Leo.md</string>
			<string>Articles Recommended by Leo.md</string>
		</array>
		<array>
			<string>Podcasts.md</string>
		</array>
		<array>
			<string>Organization.md</string>
		</array>
		<array>
			<string>finances.md</string>
		</array>
		<array>
			<string>Physical Tools.md</string>
		</array>
		<array>
			<string>Travel.md</string>
		</array>
		<array>
			<string>Websites.md</string>
		</array>
		<array>
			<string>BOOKS.md</string>
		</array>
		<array>
			<string>design.md</string>
		</array>
		<array>
			<string>page-1.md</string>
		</array>
		<array>
			<string>books.md</string>
		</array>
		<array>
			<string>games.md</string>
		</array>
		<array>
			<string>productivity.md</string>
		</array>
		<array>
			<string>tv.md</string>
		</array>
		<array>
			<string>untitled.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>D44ADD80-646F-43D5-8011-4342E2EE8234</key>
			<integer>3</integer>
			<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
			<integer>17</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>D44ADD80-646F-43D5-8011-4342E2EE8234</key>
			<integer>6</integer>
			<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
			<integer>89</integer>
		</dict>
	</dict>
</dict>
</plist>
