<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>BOOKS.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>544581247.32778394</real>
				<key>lastModification</key>
				<real>544581247.32778394</real>
				<key>version</key>
				<dict>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>README.md</key>
			<dict>
				<key>lastModification</key>
				<real>544581259.07969201</real>
				<key>version</key>
				<dict>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>SUMMARY.md</key>
			<dict>
				<key>lastModification</key>
				<real>544580955.38607705</real>
				<key>version</key>
				<dict>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>This is a test.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>544580440.37681305</real>
				<key>lastModification</key>
				<real>544580440.37681305</real>
				<key>version</key>
				<dict>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>design.md</key>
			<dict>
				<key>lastModification</key>
				<real>544581014.23893404</real>
				<key>version</key>
				<dict>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>page-1.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>544581392.46099496</real>
				<key>lastModification</key>
				<real>544581392.46099496</real>
				<key>version</key>
				<dict>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>28</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>This is a test.md</string>
		</array>
		<array>
			<string>SUMMARY.md</string>
		</array>
		<array>
			<string>BOOKS.md</string>
		</array>
		<array>
			<string>design.md</string>
		</array>
		<array>
			<string>page-1.md</string>
		</array>
		<array>
			<string>README.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
			<integer>28</integer>
		</dict>
	</dict>
</dict>
</plist>
