<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>1</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>544672551.02554297</real>
		<key>sheetClusters</key>
		<dict>
			<key>Games.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>544673927.37758398</real>
				<key>lastModification</key>
				<real>544673927.37758398</real>
				<key>version</key>
				<dict>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>Movies.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>544673927.27909303</real>
				<key>lastModification</key>
				<real>544673927.27909303</real>
				<key>version</key>
				<dict>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>TV.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>544673927.28687596</real>
				<key>lastModification</key>
				<real>544673927.28687596</real>
				<key>version</key>
				<dict>
					<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
					<integer>16</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Movies.md</string>
			<string>TV.md</string>
			<string>Games.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>ce3e02c314a16f0fddfaf6f43590ffab313e1ef237314c7681862ed997309262</key>
			<integer>17</integer>
		</dict>
	</dict>
</dict>
</plist>
